{% extends 'base.html.twig' %}

{% block body %}
<p>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit illum officiis earum! Tempore eligendi temporibus ratione aperiam repellendus quibusdam nulla consequuntur similique necessitatibus quaerat, exercitationem omnis laboriosam praesentium accusamus illum!
</p>

<p>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit illum officiis earum! Tempore eligendi temporibus ratione aperiam repellendus quibusdam nulla consequuntur similique necessitatibus quaerat, exercitationem omnis laboriosam praesentium accusamus illum!
</p>
{% endblock %}